@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
.theme-switcher {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .theme-button {
    margin: 0 10px;
    padding: 10px 15px;
    border: 2px solid #9c6ed3;
    border-radius: 5px;
    color: white;
    background-color: #bb86fc;
    box-shadow: 0 0.375em 0 #a576de;
  
    font-family: 'Lexend ',Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .theme-button:hover {
    background-color: #ac7be8;
    border-color: #9265c8;
  }
  
  .theme-button:focus {
    outline: none;
  }
  