.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75vh;
  }
  
  .input-area {
    width: 25vw;
    height: 100%;
    padding: 10px;
    /* border: 2px solid #ddd; */
  }
  
  /* .output-area {
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid black;
    width: 65vw;
    height: 100%;
    padding: 10px;
  } */
  
  .text-input {
    width: 95%;
    height: 100%;
    font-size: 18px;
    line-height: 1.6;
    font-family: 'OpenDyslexic', Arial, sans-serif;
    padding: 10px;
    border: 2px solid #ccc;
    box-shadow: 10px 10px yellowgreen;
    resize: none;
    outline: none;
  }
  
  .text-output {
    color:#757575;
    font-size: 18px;
    line-height: 1.6;
    font-family: 'OpenDyslexic', Arial, sans-serif;
    white-space: pre-wrap;
  }
  
  .theme-switcher {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .theme-switcher button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
  }
  