@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap');

.quiz-container {
  font-family: 'Lexend', Arial, Helvetica, sans-serif;
  font-weight: 700;
  min-width: 600px;
  min-height: 450px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  border: 2px solid #CCCCCC;
  box-shadow: 10px 10px #bb86fc;
  position: absolute;
  top: 68%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.question-section {
  position:relative;
  transform: translateY(50%);
  margin-bottom: 20px;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-btn {
  padding: 10px;
  border: none;
  background-color: #bb86fc;
  color: white;
  cursor: pointer;
  box-shadow: 0 0.375em 0 #986ccd;
  border:2px solid transparent;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.option-btn:hover {
  background-color: #a576df;
}

.score-section {
  position: absolute;
  text-align: center;
  left:20%;
  top:40%;
  font-size: 18px;
  color: #333;
}

h2, h3, p, button {
  font-family: 'Lexend', Arial, Helvetica, sans-serif;
  font-weight: 700;
}
