/* Container for the entire slider */
.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px; /* Set width to 600px */
  height: 80vh; /* Set height to 700px */
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  position: relative; /* Allow for content position control */
  overflow: hidden; /* Hide the overflowing content during transitions */
  
 left: 40%;
 transform: translateY(-87%);
 
}
.animation-img{
  height: 200px;
  width:98%;
  border: 2px solid black;
  position:absolute;
  top:0;
  
}

/* Styles for the arrow buttons container */
.arrow-buttons {
  margin-left: 2%;
  position: absolute;
  padding:10px;
  top: 50%;
  left:5px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  transform: translateY(-50%);
  z-index: 10;
}

/* Styles for the arrow buttons */
.arrow-btn {
  margin:10px;
  background-color: #bb86fc;
  color: white;
  box-shadow: 0 0.375em 0 #986ccd;
  border:2px solid transparent;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.arrow-btn:hover {
  background-color: #a879e2;
}

.arrow-btn:focus {
  outline: none;
}

/* Styles for the slider content */
.slider-content {
  margin: 0 20px;
  font-size: 18px;
  font-family: 'Lexend',Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  width: 80%;
  position: absolute;
  top:50%;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Add sliding transition */
  opacity: 1;
}

/* Sliding effect when going to the left */
.slide-left {
  transform: translateX(-100%); /* Slide content to the left */
  opacity: 0; /* Fade out the previous content */
}

/* Sliding effect when going to the right */
.slide-right {
  transform: translateX(100%); /* Slide content to the right */
  opacity: 0; /* Fade out the previous content */
}

/* Show content with no sliding effect */
.show {
  transform: translateX(0); /* Show content at original position */
  opacity: 1; /* Make content visible */
}
